
body {
    margin: 0;
}
body ul {
    padding: 0;
}


.header{}
.header-top {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #F0F8FF;
}
.header-wrapper {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin:auto;
    max-width: 1200px;
}
.header-top__logo {
    background-image: url(../images/logo.png);
    background-size: cover;
    width: 35px;
    height: 35px;
}
.header-top__menu{
    padding-top: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.header-top__item {
    padding-left: 50px;
    font-family: fantasy;
    font-size: 20pt;
}
.header__banner {
    background-image: url(../images/index_1.jpg);
    background-size:cover;
    height: 550px;
    width: 100%;
    text-align: center;
    color:#DAA520;
    text-shadow: 1px 1px 0 black, -1px -1px 0 black
}
.header__banner  h1 {
    padding-top: 200px;
    margin: 0;
}
.header__banner  p {
    padding-top: 50px;
    margin: 0;
    font-family: fantasy;
    font-size: 14pt
}


.content{}

.discription-company{
    width: 100%;
    height: 400px;
    background-color: #B0E0E6;
    text-align: center;
    margin: 0;
}
.discription-company h1{
    padding-top: 50px;
    margin: 0;
    color: #708090;
}
.discription-company p{
    padding-top: 50px;
    margin: 0;
    color: #2F4F4F;
    font-family: fantasy;
    font-size: 18pt;
}


.carousel{
    width: 100%;
    background-color: #F0FFF0;
}
.carousel-wrapper{
    width: 80%;
    display: -webkit-flex;
    display: flex;
    margin:auto;
    justify-content:space-around ;
    align-items: center;
}
.carousel-hider {
    width: 900px;
    overflow: hidden;
    margin: 0 auto;
}
.carousel-list {
    list-style: none;
    width: 2500px;
    display: -webkit-flex;
    display: flex;
}
.carousel-list__item {
    display: block;
    max-width: 200px;
    margin-right: 12.5px;
    margin-left:  12.5px;
}
.carousel-list__image {

    background-size: cover;
    width: 200px;
    max-width: 200px;
    height: 200px;
}
.image-c1{
background-image: url(../images/c1.jpg);
}
.image-c2{
background-image: url(../images/c2.jpg);
}
.image-c3{
background-image: url(../images/c3.jpg);
}
.image-c4{
background-image: url(../images/c4.png);
}
.image-c5{
background-image: url(../images/c5.jpg);
}
.image-c6{
background-image: url(../images/c6.jpg);
}
.image-c7{
background-image: url(../images/c7.jpg);
}
.image-c8{
background-image: url(../images/c8.jpg);
}
.image-c9{
background-image: url(../images/c3.jpg);
}
.image-c10{
background-image: url(../images/c4.png);
}
.carousel__arrow-left {
    background-image: url(../images/str_left.png);
    background-size: cover;
    width: 50px;
    height: 50px;
}
.carousel__arrow-right {
    background-image: url(../images/str_right.png);
    background-size: cover;
    width: 50px;
    height: 50px;
}


.reviews{
    width: 100%;
    background-color: #B0E0E6;

    display: -webkit-flex;
    display: flex;
    margin:auto;
    align-items: center;
}
.reviews-list{
     margin: 0 auto;
     width: 50%;
}

.reviews__button{
     display: -webkit-flex;
     display: flex;
     justify-content: center;
     margin-bottom:10px;
}

.reviews-list__item-li{
    list-style: none;
}
.reviews-list__item-li4{
    list-style: none;
    opacity: .25;
}
.reviews-list__item-li4.more{
    list-style: none;
    opacity: 1;
}
.list-toggle2{
    display:none;
}
.reviews-list__item{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding-top:10%;
    padding-button:10%;
    justify-content: center;

}
.reviews-list__image{
    background-size: cover;
    align-self:center;
    width:70px;
    height:70px;
}
.Boris{
    background-image: url(../images/pers_anon.png);
}
.Silvestr{
    background-image: url(../images/pers_anon.png);
}
.Dmitriy{
    background-image: url(../images/pers_anon.png);
}
.Glafira{
    background-image: url(../images/pers_anon.png);
}
.Apolon{
    background-image: url(../images/pers_anon.png);
}
.Gerostrat{
    background-image: url(../images/pers_anon.png);
}
.reviews-list__wrapper{
    width: 70%;
    padding-left:5%;
}
.reviews-list__wrapper h1{
    font-family:cursive;
    font-size: 11pt;
}
.reviews-list__text{
    font-family: fantasy;
    font-size: 9pt;
}


.gallery{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content:center;
    background-color: #F0FFF0;
}
.gallery-wrapper{
    margin-top:30px;
    width: 1200px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gallery__image{

    background-size: cover;
    min-width: 250px;
    width: 250px;
    height: 200px;
}
.o1{
    background-image: url(../images/index_1.jpg);
}
.o2{
    background-image: url(../images/index_2.png);
}
.o3{
    background-image: url(../images/index_3.png);
}
.o4{
    background-image: url(../images/index_4.png);
}
.o5{
    background-image: url(../images/g51.jpg);
}
.o6{
    background-image: url(../images/zag_dom.png);
}
.o7{
    background-image: url(../images/original.png);
}
.o8{
    background-image: url(../images/yu2.jpg);
}


.u-list li:nth-child(n+5) {
  display: none;
}

.u-list.open li:nth-child(n+5) {
  display: list-item;

}


.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

.popup-content__closes {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.popup-content__closes:hover,
.popup-content__closes:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.image_g1_1 {
background-image: url(../images/g11.jpg);
}
.image_g1_2 {
background-image: url(../images/g12.jpg);
}
.image_g1_3 {
background-image: url(../images/g13.jpg);
}

.image_g2_1 {
background-image: url(../images/g21.jpg);
}
.image_g2_2 {
background-image: url(../images/g22.jpg);
}
.image_g2_3 {
background-image: url(../images/g23.jpg);
}

.image_g3_1 {
background-image: url(../images/g31.jpg);
}
.image_g3_2 {
background-image: url(../images/g21.jpg);
}
.image_g3_3 {
background-image: url(../images/g33.jpg);
}

.image_g4_1 {
background-image: url(../images/g41.jpeg);
}
.image_g4_2 {
background-image: url(../images/g42.png);
}
.image_g4_3 {
background-image: url(../images/g43.jpg);
}

.image_g5_1 {
background-image: url(../images/g51.jpg);
}
.image_g5_2 {
background-image: url(../images/g52.jpg);
}
.image_g5_3 {
background-image: url(../images/g53.jpg);
}

.image_g6_1 {
background-image: url(../images/g61.jpg);
}
.image_g6_2 {
background-image: url(../images/g62.jpg);
}
.image_g6_3 {
background-image: url(../images/g63.jpg);
}

.image_g7_1 {
background-image: url(../images/g71.jpg);
}
.image_g7_2 {
background-image: url(../images/g72.jpg);
}
.image_g7_3 {
background-image: url(../images/g73.jpg);
}

.image_g8_1 {
background-image: url(../images/g81.jpg);
}
.image_g8_2 {
background-image: url(../images/g82.jpg);
}
.image_g8_3 {
background-image: url(../images/g83.jpg);
}

.popup-content__text {
text-align: center;
display:none;
}

.popup-carousel{
    width: 100%;
    display: -webkit-flex;
    display: flex;
}
.popup-carousel-wrapper{
    width: 90%;
    display: -webkit-flex;
    display: flex;
    margin:auto;
    justify-content:space-around ;
    align-items: center;
}
.popup-carousel-hider {
    width: 225px;
    overflow: hidden;
    margin: 0 auto;
}
.popup-carousel__list {
    list-style: none;
    width: 225px;
    display: -webkit-flex;
    display: flex;
}
.popup-carousel__item {
    display: block;
    max-width: 200px;
    margin-right: 12.5px;
    margin-left:  12.5px;
}
.popup-carousel__image1 {
    background-size: cover;
    width: 200px;
    max-width: 200px;
    height: 200px;
}
.popup-carousel__image2 {
    background-size: cover;
    width: 200px;
    max-width: 200px;
    height: 200px;
}
.popup-carousel__image3 {
    background-size: cover;
    width: 200px;
    max-width: 200px;
    height: 200px;
}
.popup-carousel__arrow-left {
    background-image: url(../images/str_left.png);
    background-size: cover;
    width: 50px;
    height: 50px;
}
.popup-carousel__arrow-right {
    background-image: url(../images/str_right.png);
    background-size: cover;
    width: 50px;
    height: 50px;
}



.gallery__image:hover .gradient{
display:block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, black 0%, transparent 100%);
}
.gradient{
display:none;
}



.footer{}

.footer-contacts {
    width: 100%;
    height: 50px;
    background-color: #B0E0E6;
    display: -webkit-flex;
    display: flex;
}
.footer-contacts__mail {}
.footer-contacts__telephone {
    padding-left: 80px;
}
.footer-contacts__adress {
    padding-left: 80px;
}
.footer-contacts-wrapper{
    font-family: fantasy;
    font-size: 15pt;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width:1200px;
}

.footer-copyright {
    width: 100%;
    height: 55px;
    background-color: #F0F8FF;
}
.footer-copyright-wrapper{
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:space-between;
    max-width: 1200px;
    margin:auto;
}
.footer-copyright__logo {
    left: 0;
    background-image: url(../images/logo.png);
    background-size: cover;
    width: 35px;
    height: 35px;
}
.footer-copyright__text {
    font-family: fantasy;
    font-size: 10pt;
}









